.auction-card-list {
  font-family: Arial, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  color: #333;
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
